/* Add your CSS here to style your valentines day page */
.valentine-img {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    object-fit: cover;
    display:block; margin:auto;
    grid-column: 1 / 4;
    grid-row: 2;
    justify-self: center;
    
}

body {
    background: url("/styles/Background.png") center center / cover no-repeat;
    color: pink;
    text-align: center;
    list-style-position: inside;
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    row-gap: 0px;
    align-items: center;
}


h1 {
    font-size: 80px;
    grid-column: 1 / 4;
    grid: row 1;
    row-gap: 0px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    font-size: 40px;
}

